@import "~antd/dist/antd.css";

.site-layout-content {
  min-height: 100vh;
  padding: 24px;
  background: #fff;
}

.tabs-container {
  border: rgb(0, 21, 41) solid;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 20px;
}

.card-list-container {
  width: 30vw;
  display: flex;
  justify-content: center;
}
